@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');



$primary-color: #ED7D31;
$color1: #6C5F5B;
$color2: #4F4A45;
$color3: #F6F1EE;

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $color3;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

.main-btn {
    padding: 0.75em 1em;
    background-color: $primary-color;
    text-decoration: none;
    color: $color3;
    font-size: 18px;
    border-radius: 8px;
}

#welcomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    h1 {
        font-size: 30px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 1em;
    }

    p {
       font-size: 18px;
       font-weight: 400; 
       width: 70%;
       margin: 0 auto;
       text-align: center;
       margin-bottom: 2em;
    }

    .date-picker {
        display: flex;
        align-items: center;
        column-gap: 1em;

        input {
            padding: 0.75em 1em;
            border-radius: 8px;
            border: 0;
            font-size: 18px;
        }
    }
}

.sub-title {
    font-size: 18px;
    font-weight: 500;
}


#booking {
    padding: 2em 8%; 

    .title {
        font-size: 30px;
        margin-bottom: 1em;
    }

    .slider-container {
        margin-bottom: 2em;

        .slider {
            background-color: #fff;
            padding: 1em;
            border-radius: 8px;
        }
    }

    .table-container {
        table {
            width: 100%;
            padding: 0;
            text-align: center;

            thead {
                th{
                    background-color: $color2;
                    color: $color3;
                }
            }

            .time-slot {
                padding: 0.5em 1em;
                font-weight: 600;
            }

            .available {
                background-color: #fff;
                cursor: pointer;
            }
              
            .unavailable {
                background-color: #f2f2f2;
            }
              
            .full {
                background-color: red;
                color: white;
                font-style: italic;
                cursor: not-allowed;
            }
              
            .selected {
                background-color: green;
                color: white;
            }

            td {
                padding: 0.5em 1em;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}

.submit-selected {
    position: absolute;
    bottom: 3em;
    right: 3em;
    background-color: $primary-color;
    padding: 0.75em 1em;
    border: 0;
    border-radius: 50px;
    color: white;
    font-weight: 400;
}

.popup-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: +1;

    .popup {
        width: 500px;
        max-width: 100%;
        padding: 1em;
        border-radius: 8px;
        background-color: white;

        h4 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 1em;
            color: $color2;
        }

        .action-btns {
            text-align: right;
            
            button {
                margin-right: 0.5em;
                border: 0;
                outline: 0;
                padding: 0.5em 1em;
                border-radius: 10px;
                font-size: 16px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &.success-popup {
            text-align: center;
            padding: 2em;
            width: auto;

            button {
                border: 0;
                outline: 0;
                padding: 0.5em 1em;
                border-radius: 10px;
                font-size: 16px;
                background-color: $color1;
                color: white;
            }
        }
    }
}

@import "../../../node_modules/bootstrap/scss/bootstrap";
@media (max-width: 768px) {
    body {
        font-size: 16px; 
    }

    #welcomePage {
        h1 {
            font-size: 24px; 
        }

        p {
            font-size: 16px; 
            width: 80%; 
        }

        .date-picker input {
            font-size: 16px; 
        }
    }
}